<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Insert
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
   <div style="text-align: center">      
      <ion-item>
        <ion-label position="floating">Item</ion-label>
        <ion-input [(ngModel)]="todoLabel"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input [(ngModel)]="todoPassword"></ion-input>
      </ion-item>          
      <ion-button type="submit" color="primary" (click)="savePassword()">Save</ion-button>
   </div>  
</ion-content>
